<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2023 - {new Date().getFullYear()} —
	<a href="https://incluit.com/" class="hover:underline" target="_blank"
		>IncluIT</a
	>. Todos los derechos reservados.
</p>
